@media (max-width: 768px) {
    .container {
        max-width: 700px;
    }
    .header {
        border: none;
    }
    .lg__img{
        width: 300px;
    }
    .desc {
        font-size: 30px;
        line-height: 32px;
    }
    .section__two .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .central__img img {
        width: 230px;
    }
    .section__three .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .central__desc {
        width: 300px;
    }

}
@media (max-width: 390px) {
    .container {
        padding: 0 50px;
        max-width: 390px;
    }

    .header__nav {
        display: none;
    }

    .header {
        border: none;
        padding: 20px;
    }

    .header__burger {
        display: block;
    }

    .section__one .container {
        display: flex;
        flex-direction: column;
    }

    .paragraf {
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
        width: 150px;
    }

    .section__one img {
        width: 300px;
        height: 250px;
    }

    .section__one .desc {
        margin: 5px 0;
    }

    .desc {
        font-size: 20px;
        line-height: 22px;

    }

    .section__two .grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .section__two img {
        width: 300px;
    }

    .section__three .grid {
        display: grid;
        grid-template-columns:1fr;
    }

}
